@{
    string caminho = Context.Request.Path;

    var aluguelAtivo = caminho.StartsWith("/aluguel") ? "nav-link active fw-semibold" : "nav-link";
    var clienteAtivo = caminho.StartsWith("/cliente") ? "nav-link active fw-semibold" : "nav-link";
    var condutorAtivo = caminho.StartsWith("/condutor") ? "nav-link active fw-semibold" : "nav-link";
    var grupoDeAutomoveisAtivo  = caminho.StartsWith("/grupoDeAutomoveis") ? "nav-link active fw-semibold" : "nav-link";
    var planoAtivo = caminho.StartsWith("/planoDeCobranca") ? "nav-link active fw-semibold" : "nav-link";
    var precosCombustiveisAtivo = caminho.StartsWith("/precosCombustiveis") ? "nav-link active fw-semibold" : "nav-link";
    var taxaEServicoAtivos = caminho.StartsWith("/taxaEServico") ? "nav-link active fw-semibold" : "nav-link";
    var veiculoAtivo = caminho.StartsWith("/veiculo") ? "nav-link active fw-semibold" : "nav-link";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Locadora de Veículos</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-lg">
        <div class="container my-3">
            <a class="navbar-brand fs-2 fw-semibold text-primary" href="/">Locadora de Veículos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav d-lg-flex justify-content-end gap-3 w-100">
                    @if (User.IsInRole("Empresa"))
                    {
                        <a class="px-2 @aluguelAtivo" href="/alugel/listar">Aluguéis</a>
                        <a class="px-2 @clienteAtivo" href="/cliente/listar">Clientes</a>
                        <a class="px-2 @condutorAtivo" href="/condutor/listar">Condutores</a>
                        <a class="px-2 @grupoDeAutomoveisAtivo" href="/grupoDeAutomoveis/listar">Grupo De Automóveis</a>
                        <a class="px-2 @planoAtivo" href="/planoCobranca/listar">Planos de Cobrança</a>
                        <a class="px-2 @precosCombustiveisAtivo" href="/precosCombustiveis/listar">Preços de Combustíveis</a>
                        <a class="px-2 @taxaEServicoAtivos" href="/taxaEServico/listar">Taxas e Serviços</a>
                        <a class="px-2 @veiculoAtivo" href="/veiculo/listar">Veículos</a>
                    }
                </div>

                @if (User.Identity is not null && User.Identity.IsAuthenticated)
                {
                    <form asp-controller="Usuario" asp-action="Logout" class="d-grid d-lg-flex justify-content-lg-end gap-1 w-100">
                        <a href="#" class="btn btn-outline-primary px-5">
                            <i class="bi bi-person-vcard-fill"></i>
                            @User.Identity.Name
                        </a>

                        <button class="btn btn-primary px-3">
                            <i class="bi bi-box-arrow-right"></i>
                            Logout
                        </button>
                    </form>
                }
                else
                {
                    <div class="col-md-3 text-end">
                        <a asp-controller="Usuario" asp-action="Login" class="btn btn-outline-primary me-2 px-4">Login</a>
                        <a asp-controller="Usuario" asp-action="Registrar" class="btn btn-outline-primary px-4">Registro</a>
                    </div>

                }
            </div>
        </div>
    </nav>

    <main class="container mt-4">
        <div class="row px-2">
            <h1 class="text-light-emphasis">@ViewBag.Title</h1>
            <hr />
            @RenderBody()
        </div>
    </main>

    <footer class="border-top text-center mt-auto">
        <p class="my-3">&copy; - 2024 - Locadora de Veículos 1.0</p>
    </footer>

    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>