@{
    string caminho = Context.Request.Path;

     var grupoDeAutomoveisAtivo = caminho.StartsWith("/grupoDeAutomoveis") ? "nav-link active fw-semibold" : "nav-link";
     var veiculoAtivo = caminho.StartsWith("/veiculo") ? "nav-link active fw-semibold" : "nav-link";
    var clienteAtivo = caminho.StartsWith("/cliente") ? "nav-link active fw-semibold" : "nav-link";
    var condutorAtivo = caminho.StartsWith("/condutor") ? "nav-link active fw-semibold" : "nav-link";
    var precosCombustiveisAtivo = caminho.StartsWith("/precosCombustiveis") ? "nav-link active fw-semibold" : "nav-link";
    var taxasEServicossAtivo = caminho.StartsWith("/taxaeservico") ? "nav-link active fw-semibold" : "nav-link";
    var planoCobrancaAtivo = caminho.StartsWith("/planocobranca") ? "nav-link active fw-semibold" : "nav-link";
    // var funcionarioAtivo = caminho.StartsWith("/funcionario") ? "nav-link active fw-semibold" : "nav-link";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Locadora de Veículos</title>
    
    <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg">
        <div class="container my-3">
            <a class="navbar-brand fs-3 fw-semibold text-primary" href="/">Locadora de Veículos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav d-lg-flex justify-content-end gap-3 w-100">
                    <a class="px-4 @grupoDeAutomoveisAtivo" href="/grupodeautomoveis/listar">Grupo De Automóveis</a>
                    <a class="px-4 @veiculoAtivo" href="/veiculo/listar">Veículos</a>
                    <a class="px-4 @clienteAtivo" href="/cliente/listar">Clientes</a>
                    <a class="px-4 @condutorAtivo" href="/condutor/listar">Condutores</a>
                    <a class="px-4 @precosCombustiveisAtivo" href="/precosCombustiveis/listar">Preços Combustíveis</a>
                    <a class="px-4 @taxasEServicossAtivo" href="/taxaeservico/listar">Taxas/Serviços</a>
                    <a class="px-4 @planoCobrancaAtivo" href="/planocobranca/listar">Plano Cobranças</a>
                   @*  <a class="px-4 @funcionarioAtivo" href="/funcionario/listar">Funcionários</a>  *@
                </div>
            </div>
        </div>
    </nav>

    <main class="container mt-4">
        <div class="row px-2">
            <h1 class="text-light-emphasis">@ViewBag.Title</h1>
            <hr/>
            @RenderBody()
        </div>
    </main>

    <footer class="border-top text-center mt-auto">
        <p class="my-3">&copy; - 2024 - Locadora de Veículos 1.0</p>
    </footer>
    
    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>