@using LocadoraDeVeiculos.Dominio.ModuloVeiculo
@model DetalhesCondutorViewModel

<div class="row gap-3 my-3 my-xl-5">
    <label class="fs-4"><strong>Cliente:</strong> @Model.Cliente</label>
    
    <label class="fs-4"><strong>Nome:</strong> @Model.Nome</label>

    <label class="fs-4"><strong>Email:</strong> @Model.Email</label>

    <label class="fs-4"><strong>Telefone:</strong> @Model.Telefone</label>

    <label class="fs-4"><strong>CPF:</strong> @Model.CPF</label>
    
    <label class="fs-4"><strong>CNH:</strong> @Model.CNH</label>
    
    <label class="fs-4"><strong>Válidade:</strong> @Model.Validade</label>

    <label class="fs-5"><strong>Id:</strong> [@Model.Id]</label>
</div>