@using LocadoraDeVeiculos.Dominio.ModuloVeiculo
@model DetalhesClienteViewModel

<div class="row gap-3 my-3 my-xl-5">
    <label class="fs-4"><strong>Nome:</strong> @Model.Nome</label>

    <label class="fs-4"><strong>Email:</strong> @Model.Email</label>

    <label class="fs-4"><strong>Telefone:</strong> @Model.Telefone</label>


    @if (Model.TipoDePessoa.Equals(TipoPessoa.Fisica))
    {
        <label class="fs-4"><strong>Tipo de pessoa:</strong> Física</label>
        <label class="fs-4"><strong>CPF:</strong> @Model.CPF</label>
    }
    else
    {
        <label class="fs-4"><strong>Tipo de pessoa:</strong> Jurídico</label>
        <label class="fs-4"><strong>CNPJ:</strong> @Model.CNPJ</label>
    }

    <label class="fs-4"><strong>Estado:</strong> @Model.Estado</label>
    
    <label class="fs-4"><strong>Cidade:</strong> @Model.Cidade</label>
    
    <label class="fs-4"><strong>Bairro:</strong> @Model.Bairro</label>
  
    <label class="fs-4"><strong>Rua:</strong> @Model.Rua</label>
    
    <label class="fs-4"><strong>Numero:</strong> @Model.Numero</label>
    
    
    

    <label class="fs-5"><strong>Id:</strong> [@Model.Id]</label>
</div>